[Unit]
Description=SecurityStorageDaemon

[Service]
Type=forking
RuntimeDirectory=/home/SEC_OPERATOR
User=SEC_OPERATOR
Group=SEC_OPERATOR
ExecStart=/usr/local/bin/ListeningDaemon

[Install]
WantedBy=multi-user.target

